@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-BlackItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-BlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Black.woff2") format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-BoldItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Heavy.woff2") format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Light.woff2") format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-LightItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-LightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Medium.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-MediumItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-MediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-RegularItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-RegularItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Regular.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Thin.woff2") format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-ThinItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-Ultralight.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay/SFProDisplay-UltralightItalic.woff2")
      format("woff2"),
    url("assets/fonts/SFProDisplay/SFProDisplay-UltralightItalic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
